<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30040">
        <setting id="REQ_PASS"  label="30003" type="bool"   default="false"/>	
		<setting id="PASSWORD"  label="30001" type="text"   default="" option="hidden" enable="eq(-1,true)"/>	
		<setting id="EXT_DRIVE" label="30002" type="folder" default="" visible="false"/>	
    </category>
</settings>